<br>

<div class = "container">
  <div class = "row">
    <div class = "col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @photo.id %> <small><%= time_ago_in_words(@photo.created_at) %> ago</small> </h3>
        </div>
        <div class="panel-body">
          <a href = "/photos/<%= @photo.id %>">
            <img src = "<%= @photo.image %>" class = "img-responsive">
          </a>

          <!--go back later and fix it so like button deletes AND adds  -->
          <a href = "/delete_like/<%= @photo.id %>" class = "btn btn-link">
            <i class="fa fa-heart"></i>
          </a>
          <p>
            <!-- add all the likes for this particular photo -->
            kmarvinac and john like this
          </p>
          <!-- adding all the comments - go back and make a for each -->
          <ul class = "media-list">
            <li class = "media">
              <div class = "media-body">
                <h6 class = "media-heading">
                  <a href = "/users/4"> kmarvinac </a>
                  <small><%= time_ago_in_words(@photo.created_at) %></small>
                </h6>
                <p>
                  Comment example
                </p>
            </div>
            </li>
      <!-- adding ability to submit comment -->
              <li class = "media">
                <div class = "media-body">
                  <form action = "/create_comment" method = "post">
                    <input name="authenticity_token" type="hidden" value="current_user">
                    <!-- make the values dynamic below so they are attached to the right user/photo  -->
                    <input type="hidden" name="photo_id" value="1">
                    <input type="hidden" name="user_id" value="1">
                    <div class = "form-group">
                      <label for="body" class="sr-only">
                        Body
                      </label>
                      <input type="text" id="body" name="body" placeholder="Add a comment..." class="form-control" required>
                    </div>
                  </form>
                </div>
              </li>
          </ul>


        </div>
      </div>


      <% if current_user.id == @photo.user_id %>

      <div class="btn-group btn-group-justified">
        <a href="/photos" class="btn btn-primary">
          Back
        </a>
        <a href="/photos/<%= @photo.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      </div>

      <% end %>
    </div>
  </div>
</div>
